html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', sans-serif;
    line-height: 1.7;
}

.text__light {
    padding: 0px;
    margin-top: 0px;
    color: #797c81;
}

.text__light__top {
    margin-top: 100px;
    color: #797c81;
}

.text__light__only {
    margin-top: 5px;
    color: #797c81;
}

.text__darker {
    margin-top: 5px;
    color: black
}

.white__color {
    color: #fff
}

.slight__webpagehover:hover {
    background-color: #E5EDF1 !important;
}

.slight__pdfhover:hover {
    background-color: #7a7a7aca !important;
}

.slight__videohover:hover {
    background-color: #242424ca !important;
}

.slight__arxivhover:hover {
    background-color: #b31a1aca !important;
}

.slight__githubhover:hover {
    background-color: #ffe3d2 !important;
}

.slight__hover:hover {
    background-color: #E5EDF1 !important;
    color: #002647 !important
}

.white__hover:hover {
    background-color: transparent !important;
}

#contact-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #DAEBFE;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.1s ease;
    z-index: 1000;
}

#contact-button:hover {
    background-color: #DAEBFE;
}

.link-no-underline {
    text-decoration: none;
    color: #005587;
    font-weight: 700;
}

.link-no-underline:hover {
    text-decoration: underline;
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    .container {
        width: 86%;
    }

    section {
        margin-top: 6rem;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */

@media screen and (max-width: 600px) {
    .container {
        width: 90%;
    }

    section>h2 {
        margin-bottom: 2rem;
    }
}